/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 5% 0 5%;
  padding: 5pt;
  /* background-color: #ddd; */
}

/* INI BUAT NAVIGATION BAR */
.navbar {
  overflow: hidden;
  background-color: #4B6584;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar-right {
  float: right;
  margin-right: 20px;
}
/* END INI BUAT NAVIGATION BAR */

/* INI BUAT GAMBAR DIATAS/DIBAWAHNYA NAVBAR */
.img-fit {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  pointer-events: none;
}

.image-container {
  position: relative;
  color: white;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
} 

.image-avatar{
  position: absolute;
  width: 160px; 
  height:160px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* INI BUAT GAMBAR DIATAS/DIBAWAHNYA NAVBAR */

/* INI BUAT  KOTA */
.main{
  padding: 20px 20px 0 20px;
}

.main h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards .cards_item {
  display: flex;
  padding: 1rem;
}

.card-big{
  width: 60%;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-big .card-head{
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.card {
  width: 250px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

.btn-card{
  color: #ffffff;
  margin: 0 -14px;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 245px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #20BF6B;
}
/* 
.btn-card{
  color: #ffffff;
  margin: 0 -14px;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 245px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #EB3B5A;
} */


/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 5px 5px 0 0;
  width: 250px;
  height: 150px;
}

.card .card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #2098DA 40%, #0540c0 100%);
}

.card .card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card .card_content .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  width: 200px;
}

.card_titleakun {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}
/* END INI BUAT CARD */


.footer {
  padding: 15px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: right;
}

.wrapper-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

/* ini buat formnya add to*/
.form_plan{
  background: #a5b1c2;
  border: 0px;
  width: 100%;
  font-size: 10pt;
}

.note_plan{
  background: #a5b1c2;
  border: 0px;
  width: 100%;
  font-size: 10pt;
  margin-bottom: 10px;
  height: 25px;
}

/*ini buat tabel di biodata*/
.tanggalplan{
  width: 100%;
  font-size: 16pt;
  margin: 0px;
}

.tableaccount {
  align-items: center;
  background-color: #C4C4C4;
  width:100%; 
  border-collapse: collapse;
}

.tableplan {
  margin-bottom: 20px; 
  align-items: center;
  background: #C4C4C4;
}

/*wishlist*/
.img-fitt {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 200px;
  pointer-events: none;
}

.btn-wishlist{
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 300;
  display: block;
  width: 150px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #A5B1C2;
}

/* INI BUAT CARD TIPS AND TRICK */

.img-tips-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  text-align: center;
  color: white;
  margin-right: 20px;
} 

.img-tips{
  object-fit: cover;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 3%;
}

.text-block {
  position: absolute; 
  bottom: 0;
  left: 0; 
  width: 100%; 
  padding-bottom: 20px;
  background:rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  color: #272727;
}

.text-block h1, h3, p{
  margin: 0;
}

.faq {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr) );
  margin: 0 0 0 -20px;
}

/* FAQ CSS */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; /* LAMBANG + */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* LAMBANG - */
}

/* BUAT KETERANGAN */
.panel {
  display: block;
  background-color: #ddd;
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
}

.panel p{
  padding: 10px;
}

/* END FAQ CSS */